@{
    ViewData["Title"] = "Home Page";
}

<div class="titulo" text-align="center">
    <h1>
        Welcome to Basic CMS!
    </h1>
    <h3>
        You can use this website to upload, view, share or download your documents and files, please, create an account or login to start using it!
    </h3>
</div>

<style>
    div.titulo {
        text-align: center;
    }
</style>

